interactions:
- request:
    body: '{"model": "sift-agent-external-123", "background": true, "webhook": {"url":
      "http://crm-dev.aurumor.com:8000/api/method/frappe_cadence.utils.sift.predict_callback",
      "metadata": {"annotation_id": "5ue6l9p6c6", "annotation_doctype": "Email Template
      Annotation"}}, "input": [{"role": "system", "content": "Sender Name: Administrator\nSender
      Bio:\n"}], "response_format": {"type": "json_schema", "json_schema": {"name":
      "EmailTemplateAnnotation", "schema": {"type": "object", "properties": {"subject":
      {"type": "string", "description": "Subject"}, "salutation": {"type": "string",
      "description": "Salutation"}, "body": {"type": "string", "description": "Body"},
      "cta": {"type": "string", "description": "CTA"}, "sign_off": {"type": "string",
      "description": "Sign Off"}}, "required": ["subject", "salutation", "body", "cta",
      "sign_off"]}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://windmill.aurumor.com/api/w/aurumor/jobs/run/p/f/sift/responses
  response:
    body:
      string: 019f4bdb-4d15-0124-ef70-c7df7452ac8d
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - d8062db812a5e375d105a968fcb32deb
    status:
      code: 201
      message: Created
version: 1
