interactions:
- request:
    body: '{"agent_name": "agent-External Test Template", "webhook": {"url": "http://crm-dev.aurumor.com:8000/api/method/frappe_cadence.utils.sift.optimize_callback",
      "events": ["completed", "failed"], "metadata": {"template_doctype": "Email Template",
      "template_name": "External Test Template"}}, "litellm_params": {"model": "testprovider/test-model"},
      "dspy_params": {"state": {"predict": {"train": [{"trace_id": "5uce4sf7fa", "score":
      0.0, "messages": [{"role": "system", "content": "Sender Name: Administrator\nSender
      Bio:\n"}], "response": {"subject": "External Subject", "salutation": "External
      Salutation", "body": "External Body", "cta": "External CTA", "sign_off": "External
      Sign Off"}, "feedback": null}]}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://windmill.aurumor.com/api/w/aurumor/jobs/run/p/f/sift/agents
  response:
    body:
      string: 019f4bdb-4c67-78b9-724e-d5aad405bcaf
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - c40d2cf864d287ddf9219baa0698d592
    status:
      code: 201
      message: Created
version: 1
